{
    "server":{
        "port":8080,
        "url":"/split",
        "cache_max_age":3600
    },
    "experiments":[
        {
            "name":"checkout button colors",
            "enabled":true,
            "buckets":[
                {
                    "name": "control group (green button)",
                    "percent":50
                },
                {
                    "name":"variant (red button)",
                    "percent":25
                },
                {
                    "name":"variant (blue button)",
                    "percent":25
                }
            ]
        }
    ]
}